@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.nav-container {
    min-height: 40px;
    display: flex;
    align-items: center;
    width: 50%;
    gap: 10px;
}

.nav-container img {
    width: 90px;
    object-fit: cover;
    
}

.nav-container p {
   font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(0, 3, 10);
}

.special {
    background: linear-gradient(to right, #ff3d7f, #ffc800);
    background-clip: text;
    color: transparent;
    font-weight: 800;
}

/* Header / Navbar */
.header-section {
    max-width: 1250px;
    background-color: brown;
    margin: 0 auto;
    display: flex;
}

.header {
    background-color: brown;
}

.items-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items-container a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.login-btn {
    padding: 10px 20px;
    background-color: palevioletred;
    border-radius: 5px;
}

.login-btn a {
    color: black;
}

/* Banner section */
.banner-section {
    max-width: 1250px;
    margin: 30px auto 0 auto;
    background-color: #e6e9eb;
    min-height: 400px;
    display: flex;
    border-radius: 10px;
    padding: 20px;
}

.text-container {
    border: 2px solid green;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
}

.banner-img-container {
    border: 2px solid violet;
    width: 50%;
    position: relative;
}

.banner-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Typography */
.text-container h1,
.text-container p,
.text-container span {
    font-size: 45px;

}

.banner-heading {
    background: linear-gradient(to bottom, pink, violet);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 60px;
}
#collection {
    font-family: "Dancing Script", cursive;
    font-size: 50px; /* adjust if needed */
}
button {
    padding: 10px 25px;
    border: none;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 16px;
}

button:hover {
    background-color: rgb(100, 9, 9);
    color: white;
    transform: scale(1.05);
}

.common-button{
    padding: 10px 20px;
    border: 3px solid chocolate ;
    border-radius: 7px;
    
}