@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth"100;
}

.nav-container {
    border: 2px solid red;
    min-height: 20px;
    display: flex;
    align-items: center;
    /* border: 2px solid blueviolet; */
    width: 50%;
}

.nav-container img {
    width: 90px;
    object-fit: cover;
}

.nav-container p {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: bold;
    color: black;
}

.Shop {
    color: burlywood;
    font-weight: 400;
}

.header-section {
    max-width: 1250px;
    background-color: brown;
    margin: 0 auto;
    /* border: 2px solid blueviolet; */
    display: flex;
}
.header{
     background-color: brown;
}
.items-container {
    /* border: 2px solid yellow; */
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

.items-container a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.items-container .login-btn a{
    padding: 10px 20px;
   background-color: palevioletred;
   border-radius: 5px;
   color: black;
}
}